        <footer class="footer">
            <!--START CONTACT INFO-->
            <p class="footer__p">Contact information: 
                Milena Miletic milena@gmail.com
            </p>
            <p class="footer__p">&copy; Copyright</p>
            <!--END CONTACT INFO-->
        </footer>
